* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    background-image: url(./img/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.bar {
    z-index: 1;
}

nav {
    top: 60px !important;
}

.hero h1 {
    font-size: 40px;
    max-width: 500px;
}

.container svg {
    font-size: 60px;
    color: rgb(104, 157, 248);
}


.my-card {
    max-width: 300px;
}

/* -----------------instructor----------------- */

.instructor {
    margin: 150px 0;
}

.instructor img {
    top: -50px
}

/* ----------------------------courses---------------------- */

.circle1 {
    width: 60px;
    height: 60px;

}

.circle-a {
    width: 70px;
    height: 70px;
}


.card-icon {
    width: 30px;

    top: 2px;
    left: 13px;

}

.cheack {
    color: blue;
}


.tomorrow {
    background-image: url(./img/school-1-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/* ------------------aboutus------------------- */


.sec-img {
    width: 500px;
    position: relative;
    top: 70px;
    left: 80px;
    z-index: 2;
}

.img-shadow {
    background-color: rgb(182, 213, 250);
    width: 500px;
    height: 320px;
    position: relative;
    bottom: 320px;
    left: 220px;

}

/* ---------------------------------------- */


.format {
    margin-top: 60px;
}

.format img {
    z-index: 1;
}

/* ---------------------------------- */

.img-crds {

    right: 11px;
}

.person-img {
    width: 60px;

}



@media screen and (max-width:992px) {
    .bar {
        justify-content: center !important;
        font-size: 12px;
        gap: 10px;
    }

    .grd-card {
        width: max-content;
    }

    .my-h1 {
        width: max-content !important;
        font-size: 15px !important;
        ;
    }

    .courses {
        margin-top: 20px;
    }

    .news-res {
        width: max-content;
    }

    .sec-img {
        width: 200px;
        margin: auto;
        top: 0px;
        left: 0px;
        text-align: center;
    }

    .img-shadow {
        display: none;
    }

}